@import './styles/var.css';
@import './styles/reset.css';
@import './styles/components.css';
@import './styles/nav.css';
@import './styles/home.css';
@import './styles/skills.css';
@import './styles/portfolio.css';
@import './styles/contacts.css';

.container {
	max-width: 900px;
	height: 100%;
	min-height: 2000px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	gap: 64px;
}

header {
	width: 100%;
	min-height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
