nav {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
	border-radius: 40px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	overflow: hidden;
	position: sticky;
	top: 0;
	z-index: 1000;
}

nav a {
	flex: 1;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 500;
}

nav a:active,
nav a:hover {
	background: var(--third);
}

nav span {
	width: 3px;
	height: 80px;
	background-color: var(--third);
}

@media (max-width: 768px) {
	nav {
		margin: 0 -16px;
		height: 64px;
		border-radius: 0;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	}
}
